<template>
  <div v-bind="$attrs" v-on="$listeners">
  	<img class="pointer" :src="src" @click="handleImageClick">
  </div>
</template>

<script>

  export default {
    data() {
    	return {
        imageClass: '',
        showImage: false
    	}
    },
    props: {
      src: {
        type: String,
        required: true
      }
    },
    methods: {
    	handleImageClick() {
        this.showImage = true
        var wrapperDiv = document.createElement('div'); 
        wrapperDiv.className = 'image-viewer-wrapper masked-bg'
        var imageDiv = document.createElement('img');
        imageDiv.className = 'image-open'
        imageDiv.src = this.src
        var iconDiv = document.createElement('i');
        iconDiv.id = 'image-close'
        iconDiv.className='ivu-icon ivu-icon-md-close'
        wrapperDiv.appendChild(imageDiv)
        wrapperDiv.appendChild(iconDiv)
        document.querySelector('body').appendChild(wrapperDiv)
        document.querySelector("#image-close").addEventListener("click", function() {
          let element = document.querySelector('.image-viewer-wrapper');
          element.parentNode.removeChild(element);
          this.showImage = false
        });
      }
    }
  }
  	
</script>

<style lang="sass" scoped>

</style>