html
  font-size: 62.5%

body
  font-family: $primary-font
  background: linear-gradient(152deg, transparent, #d2d2d2)
  overflow-y: auto
  *
    color: #272727

.outer-container
::-webkit-scrollbar
  width: 9px
  height: 6px
  cursor: pointer

::-webkit-scrollbar-track
  box-shadow: inset 0 0 4px lightgray
  border-radius: 10px

::-webkit-scrollbar-thumb
  background: rgba(0, 0, 0, 0.5)
  border-radius: 10px
  &:hover
    background: rgb(0, 0, 0)

.d-inline-block
  display: inline-block

.main-wrapper
  height: 100%
  background: white

.width-100
  width: 100%

.ivu-date-picker
  width: 100%

.pos-rel
  position: relative
  
.ivu-layout-content
  position: relative

.table-index-page
  .table
    margin-top: $header-height
    margin-bottom: $footer-height
  header
    position: fixed
    display: flex
    justify-content: space-between
    top: 0
    height: $header-height
    background: white
    box-shadow: inset 0px -16px 65px -64px rgba(0,0,0,0.75)
    width: calc(100% - #{$menu-width})
    padding: 1rem
    z-index: 99
    h1
      font-size: 2.3rem
  footer
    display: flex
    justify-content: space-between
    position: fixed
    bottom: 0
    height: $footer-height
    width: calc(100% - #{$menu-width})    
    background: white
    z-index: 99
    padding: 1rem
    box-shadow: inset 0px 23px 40px -47px rgba(0, 0, 0, 0.75)
    button
      align-self: center

.drawer
  .ivu-drawer-header
    background: #2c8cf0
    .ivu-drawer-header-inner
      color: white
  .ivu-drawer-body
    margin-bottom: $footer-height
    height: calc(100% - 51px - #{$footer-height})
    padding: 0
    section
      padding: 1rem 2rem
    footer
      display: flex
      position: fixed
      bottom: 0
      height: $footer-height
      background: white
      width: 100%
      z-index: 999
      padding: 1rem 0rem
      box-shadow: inset 0px 23px 40px -47px rgba(0,0,0,0.75)
  .ivu-drawer-close
    i
      font-weight: 700
      color: white

.m-l-1
  margin-left: 1rem

.m-r-1
  margin-right: 1rem
 
.p-a-2
  padding: 2rem

.hover-green-text
  &:hover
    color: green

.pointer
  cursor: pointer
  transition: transform .3s
  &:hover
    transform: translateY(-3px)

.show-page
  margin: 2rem
  display: flex
  flex-direction: column
  
  img
    width: 15rem
    align-self: center
  
  .m-b-2
    margin-bottom: 2rem

.image-viewer-wrapper
  position: absolute
  height: 100%
  z-index: 9999
  width: 100%
  top: 0
  .image-open
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    height: 55rem
#image-close
  position: absolute
  right: 0.6%
  font-size: 3rem
  font-weight: 700
  color: ghostwhite
  top: 2%
  cursor: pointer

.masked-bg
  background: #2e2e2e9e

.no-display
  display: none